/* Цвет основного фона body #FFFFFF*/
/* Цвет основного текста #757575 */
/* Цвет вторичного текста #212121 */
/* Цвет акцента #2196F3 */
/* Цвет секции hero #2F303A*/
/* Цвет секции advantage #E5E5E5*/
/* Цвет секции example #E5E5E5*/
/* Цвет секции employees #F5F4FA*/
/* Цвет header #FFFFFF*/
/* Цвет footer #2F303A*/
/* Необходимый вес для Raleway – 700, а для Roboto – 400, 500, 700 и 900. */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --hero-footer-bcg-color: #2f303a;
  --primery-bcg-color: #e5e5e5;
  --employees-bcg-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

.list {
  list-style: none;
}

.title {
  color: var(--title-text-color);
}

/* Body */
body {
  color: var(--primery-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}
/* Хедер */
.page-header {
  background-color: white;
}
/* Логотип */
.header__link--logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-style: Bold;
}

.color__text--logo {
  color: var(--accent-color);
}
.header__link--logo:hover,
.header__link--logo:focus {
  color: var(--accent-color);
}

/* Навигация сайта */
.header-nav .link {
  color: var(--title-text-color);
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

/* Контакты */
.contact .link {
  color: var(--primery-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Секция Герой */
.hero {
  color: var(--white-color);
  background-color: var(--hero-footer-bcg-color);
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Секция наши преимущества  */
.advantage {
  color: var(--primery-text-color);
  background-color: var(--primery-bcg-color);
}

/* Секция примеры работ */
.work-example {
  color: var(--primery-text-color);
  background-color: var(--primery-bcg-color);
}

/* Секция сотрудники */
.employees {
  color: var(--primery-text-color);
  background-color: var(--employees-bcg-color);
}

/* Футер */
.page-footer {
  color: var(--white-color);
  background-color: var(--hero-footer-bcg-color);
}

.footer__link--logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-style: Bold;
}
.footer__link--logo:hover,
.footer__link--logo:focus {
  color: var(--accent-color);
}

.footer-contact .link {
  color: var(--footer-contact-color);
}

.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}

/* Portfolio */
